.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th {
  color: var(--Gray-700, #464f60);
  font-family: "Inter", sans-serif;
}

.topnav {
  background-color: rgba(244, 247, 252, 0.75);
}

.content-table thead tr {
  background-color: rgba(244, 247, 252, 0.75);
  backdrop-filter: blur(4px);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}
